<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysExpressionKey</key>
	<array>
		<string>[Expression_1]</string>
		<string>[Expression_2]</string>
		<string>[Expression_3]</string>
		<string>[Expression_4]</string>
		<string>[Expression_5]</string>
		<string>[Expression_6]</string>
		<string>[Expression_7]</string>
		<string>[Expression_8]</string>
		<string>[Expression_9]</string>
		<string>[Expression_10]</string>
		<string>[Expression_11]</string>
		<string>[Expression_12]</string>
		<string>[Expression_13]</string>
		<string>[Expression_14]</string>
		<string>[Expression_15]</string>
		<string>[Expression_16]</string>
		<string>[Expression_17]</string>
		<string>[Expression_18]</string>
		<string>[Expression_19]</string>
		<string>[Expression_20]</string>
		<string>[Expression_21]</string>
		<string>[Expression_22]</string>
		<string>[Expression_23]</string>
		<string>[Expression_24]</string>
		<string>[Expression_25]</string>
		<string>[Expression_26]</string>
		<string>[Expression_27]</string>
		<string>[Expression_28]</string>
		<string>[Expression_29]</string>
		<string>[Expression_30]</string>
		<string>[Expression_31]</string>
		<string>[Expression_32]</string>
		<string>[Expression_33]</string>
		<string>[Expression_34]</string>
		<string>[Expression_35]</string>
		<string>[Expression_36]</string>
		<string>[Expression_37]</string>
		<string>[Expression_38]</string>
		<string>[Expression_39]</string>
		<string>[Expression_40]</string>
		<string>[Expression_41]</string>
		<string>[Expression_42]</string>
		<string>[Expression_43]</string>
		<string>[Expression_44]</string>
		<string>[Expression_45]</string>
		<string>[Expression_46]</string>
		<string>[Expression_47]</string>
		<string>[Expression_48]</string>
		<string>[Expression_49]</string>
		<string>[Expression_50]</string>
		<string>[Expression_51]</string>
		<string>[Expression_52]</string>
		<string>[Expression_53]</string>
		<string>[Expression_54]</string>
		<string>[Expression_55]</string>
		<string>[Expression_56]</string>
		<string>[Expression_57]</string>
		<string>[Expression_58]</string>
		<string>[Expression_59]</string>
		<string>[Expression_60]</string>
		<string>[Expression_61]</string>
		<string>[Expression_62]</string>
		<string>[Expression_63]</string>
		<string>[Expression_64]</string>
		<string>[Expression_65]</string>
		<string>[Expression_66]</string>
		<string>[Expression_67]</string>
		<string>[Expression_68]</string>
		<string>[Expression_69]</string>
		<string>[Expression_70]</string>
		<string>[Expression_71]</string>
		<string>[Expression_72]</string>
		<string>[Expression_73]</string>
		<string>[Expression_74]</string>
		<string>[Expression_75]</string>
		<string>[Expression_76]</string>
		<string>[Expression_77]</string>
		<string>[Expression_78]</string>
		<string>[Expression_79]</string>
		<string>[Expression_80]</string>
		<string>[Expression_81]</string>
		<string>[Expression_82]</string>
		<string>[Expression_83]</string>
		<string>[Expression_84]</string>
		<string>[Expression_85]</string>
		<string>[Expression_86]</string>
		<string>[Expression_87]</string>
		<string>[Expression_88]</string>
		<string>[Expression_89]</string>
		<string>[Expression_90]</string>
		<string>[Expression_91]</string>
		<string>[Expression_92]</string>
		<string>[Expression_93]</string>
		<string>[Expression_94]</string>
		<string>[Expression_95]</string>
		<string>[Expression_96]</string>
		<string>[Expression_97]</string>
		<string>[Expression_98]</string>
		<string>[Expression_99]</string>
		<string>[Expression_100]</string>
		<string>[Expression_101]</string>
		<string>[Expression_102]</string>
		<string>[Expression_103]</string>
		<string>[Expression_104]</string>
		<string>[Expression_105]</string>
	</array>
	<key>SysExpression</key>
	<array>
		<string>Expression_1</string>
		<string>Expression_2</string>
		<string>Expression_3</string>
		<string>Expression_4</string>
		<string>Expression_5</string>
		<string>Expression_6</string>
		<string>Expression_7</string>
		<string>Expression_8</string>
		<string>Expression_9</string>
		<string>Expression_10</string>
		<string>Expression_11</string>
		<string>Expression_12</string>
		<string>Expression_13</string>
		<string>Expression_14</string>
		<string>Expression_15</string>
		<string>Expression_16</string>
		<string>Expression_17</string>
		<string>Expression_18</string>
		<string>Expression_19</string>
		<string>Expression_20</string>
		<string>Expression_21</string>
		<string>Expression_22</string>
		<string>Expression_23</string>
		<string>Expression_24</string>
		<string>Expression_25</string>
		<string>Expression_26</string>
		<string>Expression_27</string>
		<string>Expression_28</string>
		<string>Expression_29</string>
		<string>Expression_30</string>
		<string>Expression_31</string>
		<string>Expression_32</string>
		<string>Expression_33</string>
		<string>Expression_34</string>
		<string>Expression_35</string>
		<string>Expression_36</string>
		<string>Expression_37</string>
		<string>Expression_38</string>
		<string>Expression_39</string>
		<string>Expression_40</string>
		<string>Expression_41</string>
		<string>Expression_42</string>
		<string>Expression_43</string>
		<string>Expression_44</string>
		<string>Expression_45</string>
		<string>Expression_46</string>
		<string>Expression_47</string>
		<string>Expression_48</string>
		<string>Expression_49</string>
		<string>Expression_50</string>
		<string>Expression_51</string>
		<string>Expression_52</string>
		<string>Expression_53</string>
		<string>Expression_54</string>
		<string>Expression_55</string>
		<string>Expression_56</string>
		<string>Expression_57</string>
		<string>Expression_58</string>
		<string>Expression_59</string>
		<string>Expression_60</string>
		<string>Expression_61</string>
		<string>Expression_62</string>
		<string>Expression_63</string>
		<string>Expression_64</string>
		<string>Expression_65</string>
		<string>Expression_66</string>
		<string>Expression_67</string>
		<string>Expression_68</string>
		<string>Expression_69</string>
		<string>Expression_70</string>
		<string>Expression_71</string>
		<string>Expression_72</string>
		<string>Expression_73</string>
		<string>Expression_74</string>
		<string>Expression_75</string>
		<string>Expression_76</string>
		<string>Expression_77</string>
		<string>Expression_78</string>
		<string>Expression_79</string>
		<string>Expression_80</string>
		<string>Expression_81</string>
		<string>Expression_82</string>
		<string>Expression_83</string>
		<string>Expression_84</string>
		<string>Expression_85</string>
		<string>Expression_86</string>
		<string>Expression_87</string>
		<string>Expression_88</string>
		<string>Expression_89</string>
		<string>Expression_90</string>
		<string>Expression_91</string>
		<string>Expression_92</string>
		<string>Expression_93</string>
		<string>Expression_94</string>
		<string>Expression_95</string>
		<string>Expression_96</string>
		<string>Expression_97</string>
		<string>Expression_98</string>
		<string>Expression_99</string>
		<string>Expression_100</string>
		<string>Expression_101</string>
		<string>Expression_102</string>
		<string>Expression_103</string>
		<string>Expression_104</string>
		<string>Expression_105</string>
	</array>
</dict>
</plist>
